@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,400;0,600;0,700;1,600;1,700&display=swap');

:root{
  --r-main-font: Nunito, sans-serif;
  --r-heading-font: Nunito, sans-serif;
}

figcaption, .caption{
  text-align: center;
}